/*!
 * Font Awesome Pro 5.0.10 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 900;
  src: url("/fa-pro/fa-solid-900.eot");
  src: url("/fa-pro/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/fa-pro/fa-solid-900.woff2") format("woff2"), url("/fa-pro/fa-solid-900.woff") format("woff"), url("/fa-pro/fa-solid-900.ttf") format("truetype"), url("/fa-pro/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
}

