@font-face
  font-family 'Quicksand'
  font-style normal
  font-weight 500
  src url('../fonts/quicksand-v6-latin-500.eot')
  src local('Quicksand Medium'), local('Quicksand-Medium'),
    url('../fonts/quicksand-v6-latin-500.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/quicksand-v6-latin-500.woff2') format('woff2'), 
    url('../fonts/quicksand-v6-latin-500.woff') format('woff'), 
    url('../fonts/quicksand-v6-latin-500.ttf') format('truetype'), 
    url('../fonts/quicksand-v6-latin-500.svg#Quicksand') format('svg')
