@font-face
  font-family 'Roboto'
  font-style italic
  font-weight 500
  src url('../fonts/roboto-v16-latin-500italic.eot')
  src local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../fonts/roboto-v16-latin-500italic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/roboto-v16-latin-500italic.woff2') format('woff2'), 
    url('../fonts/roboto-v16-latin-500italic.woff') format('woff'), 
    url('../fonts/roboto-v16-latin-500italic.ttf') format('truetype'), 
    url('../fonts/roboto-v16-latin-500italic.svg#Roboto') format('svg')
