@font-face
  font-family 'Roboto'
  font-style normal
  font-weight 100
  src url('../fonts/roboto-v16-latin-100.eot')
  src local('Roboto Thin'), local('Roboto-Thin'),
    url('../fonts/roboto-v16-latin-100.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/roboto-v16-latin-100.woff2') format('woff2'), 
    url('../fonts/roboto-v16-latin-100.woff') format('woff'), 
    url('../fonts/roboto-v16-latin-100.ttf') format('truetype'), 
    url('../fonts/roboto-v16-latin-100.svg#Roboto') format('svg')
