@font-face
  font-family 'Roboto'
  font-style italic
  font-weight 400
  src url('../fonts/roboto-v16-latin-italic.eot')
  src local('Roboto Italic'), local('Roboto-Italic'),
    url('../fonts/roboto-v16-latin-italic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/roboto-v16-latin-italic.woff2') format('woff2'), 
    url('../fonts/roboto-v16-latin-italic.woff') format('woff'), 
    url('../fonts/roboto-v16-latin-italic.ttf') format('truetype'), 
    url('../fonts/roboto-v16-latin-italic.svg#Roboto') format('svg')
