@font-face
  font-family 'Roboto'
  font-style normal
  font-weight 500
  src url('../fonts/roboto-v16-latin-500.eot')
  src local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v16-latin-500.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/roboto-v16-latin-500.woff2') format('woff2'), 
    url('../fonts/roboto-v16-latin-500.woff') format('woff'), 
    url('../fonts/roboto-v16-latin-500.ttf') format('truetype'), 
    url('../fonts/roboto-v16-latin-500.svg#Roboto') format('svg')
