#title, #subtitle
  > a
    text-decoration none

#wrapper > header
  width 100%

header > nav
  width 100%
  display flex
  justify-content space-between
  flex-flow row wrap
  font-size 1.25rem
  padding 0.5em 0

  > ul
    display flex
    align-items center
    align-content center

    // Clear all ul styling
    list-style-type none
    padding 0
    margin 0

    // &#nav-site > li + li:before  // Selects only li:before elements succeeding a li element
    //   content ' ● '  // Render dot between categories
    //   white-space pre  // Render leading whitespace

#nav-social > li > a > i.fa:before
  font-size 2rem
  margin 0.2em
