extends templates/page.pug

append head
  title= page.category + ' | ' + config.title

block content
  if site.categories
    ul
    each cat in site.categories.data
      li= cat.name
  else
    p No categories found.
    