extends templates/page.pug

include mixins/post_listing.pug
include mixins/fontawesome.pug
//- Need to include mixin with its extension or it doesn't work.
//- https://github.com/pugjs/pug/issues/2308

append head
  title= 'Archive | ' + config.title

block content
  if site.posts
    .post_list
      each post, index in page.posts.data
        +post_listing(post)
        hr
        
  else
    p No posts available.

  .page_nav
    if page.prev_link
      p.link_prev: a(href=url_for(page.prev_link))
        | #[+fa('arrow-left')]
        | Newer
    else
      p.link_prev.no_link
        | #[+fa('arrow-left')]
        | Newer
    if page.next_link
      p.link_next: a(href=url_for(page.next_link))
        | Older
        | #[+fa('arrow-right')]
    else
      p.link_next.no_link
        | Older
        | #[+fa('arrow-right')]
      
