extends templates/page.pug

include mixins/fontawesome.pug

append head
  title= config.title

block content
  center(style='margin: 5em')
    +fa(config.halcyon.index_glyph, '5x pulse')
    h1= config.halcyon.index_message
    
