/*

Arduino® Light Theme - Stefania Mellai <s.mellai@arduino.cc>

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #FFFFFF;
}

,
.subst {
  color: #434f54;
}

.keyword,
.attribute,
.selector-tag,
.doctag,
.name {
  color: #00979D;
}

.built_in,
.literal,
.bullet,
.code,
.addition {
  color: #D35400;
}

.regexp,
.symbol,
.variable,
.template-variable,
.link,
.selector-attr,
.selector-pseudo {
  color: #00979D;
}

.type,
.string,
.selector-id,
.selector-class,
.quote,
.template-tag,
.deletion {
  color: #005C5F;
}

.title,
.section {
  color: #880000;
  font-weight: bold;
}

.comment {
  color: rgba(149,165,166,.8);
}

.meta-keyword {
  color: #728E00;
}

.meta {
  color: #728E00;
  color: #434f54;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

.function {
  color: #728E00;
}

.number {
  color: #8A7B52;  
}
