/*
Date: 17.V.2011
Author: pumbur <pumbur@pumbur.net>
*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
}

,
.subst {
  color: #aaa;
}

.section {
  color: #fff;
}

.comment,
.quote,
.meta {
  color: #444;
}

.string,
.symbol,
.bullet,
.regexp {
  color: #ffcc33;
}

.number,
.addition {
  color: #00cc66;
}

.built_in,
.builtin-name,
.literal,
.type,
.template-variable,
.attribute,
.link {
  color: #32aaee;
}

.keyword,
.selector-tag,
.name,
.selector-id,
.selector-class {
  color: #6644aa;
}

.title,
.variable,
.deletion,
.template-tag {
  color: #bb1166;
}

.section,
.doctag,
.strong {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}
