/* Base16 Atelier Seaside Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/seaside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Seaside Comment */
.comment,
.quote {
  color: #809980;
}

/* Atelier-Seaside Red */
.variable,
.template-variable,
.attribute,
.tag,
.name,
.regexp,
.link,
.name,
.selector-id,
.selector-class {
  color: #e6193c;
}

/* Atelier-Seaside Orange */
.number,
.meta,
.built_in,
.builtin-name,
.literal,
.type,
.params {
  color: #87711d;
}

/* Atelier-Seaside Green */
.string,
.symbol,
.bullet {
  color: #29a329;
}

/* Atelier-Seaside Blue */
.title,
.section {
  color: #3d62f5;
}

/* Atelier-Seaside Purple */
.keyword,
.selector-tag {
  color: #ad2bee;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #131513;
  color: #8ca68c;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
