/* Base16 Atelier Savanna Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/savanna) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Savanna Comment */
.comment,
.quote {
  color: #78877d;
}

/* Atelier-Savanna Red */
.variable,
.template-variable,
.attribute,
.tag,
.name,
.regexp,
.link,
.name,
.selector-id,
.selector-class {
  color: #b16139;
}

/* Atelier-Savanna Orange */
.number,
.meta,
.built_in,
.builtin-name,
.literal,
.type,
.params {
  color: #9f713c;
}

/* Atelier-Savanna Green */
.string,
.symbol,
.bullet {
  color: #489963;
}

/* Atelier-Savanna Blue */
.title,
.section {
  color: #478c90;
}

/* Atelier-Savanna Purple */
.keyword,
.selector-tag {
  color: #55859b;
}

.deletion,
.addition {
  color: #171c19;
  display: inline-block;
  width: 100%;
}

.deletion {
  background-color: #b16139;
}

.addition {
  background-color: #489963;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #171c19;
  color: #87928a;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
