/* Base16 Atelier Cave Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Cave Comment */
.comment,
.quote {
  color: #7e7887;
}

/* Atelier-Cave Red */
.variable,
.template-variable,
.attribute,
.regexp,
.link,
.tag,
.name,
.selector-id,
.selector-class {
  color: #be4678;
}

/* Atelier-Cave Orange */
.number,
.meta,
.built_in,
.builtin-name,
.literal,
.type,
.params {
  color: #aa573c;
}

/* Atelier-Cave Green */
.string,
.symbol,
.bullet {
  color: #2a9292;
}

/* Atelier-Cave Blue */
.title,
.section {
  color: #576ddb;
}

/* Atelier-Cave Purple */
.keyword,
.selector-tag {
  color: #955ae7;
}

.deletion,
.addition {
  color: #19171c;
  display: inline-block;
  width: 100%;
}

.deletion {
  background-color: #be4678;
}

.addition {
  background-color: #2a9292;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #19171c;
  color: #8b8792;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
