/* Base16 Atelier Estuary Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/estuary) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Estuary Comment */
.comment,
.quote {
  color: #878573;
}

/* Atelier-Estuary Red */
.variable,
.template-variable,
.attribute,
.tag,
.name,
.regexp,
.link,
.name,
.selector-id,
.selector-class {
  color: #ba6236;
}

/* Atelier-Estuary Orange */
.number,
.meta,
.built_in,
.builtin-name,
.literal,
.type,
.params {
  color: #ae7313;
}

/* Atelier-Estuary Green */
.string,
.symbol,
.bullet {
  color: #7d9726;
}

/* Atelier-Estuary Blue */
.title,
.section {
  color: #36a166;
}

/* Atelier-Estuary Purple */
.keyword,
.selector-tag {
  color: #5f9182;
}

.deletion,
.addition {
  color: #22221b;
  display: inline-block;
  width: 100%;
}

.deletion {
  background-color: #ba6236;
}

.addition {
  background-color: #7d9726;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #22221b;
  color: #929181;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
