/*

Brown Paper style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background:#b7a68e url(./brown-papersq.png);
}

.keyword,
.selector-tag,
.literal {
  color:#005599;
  font-weight:bold;
}

,
.subst {
  color: #363c69;
}

.string,
.title,
.section,
.type,
.attribute,
.symbol,
.bullet,
.built_in,
.addition,
.variable,
.template-tag,
.template-variable,
.link,
.name {
  color: #2c009f;
}

.comment,
.quote,
.meta,
.deletion {
  color: #802022;
}

.keyword,
.selector-tag,
.literal,
.doctag,
.title,
.section,
.type,
.name,
.strong {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}
