/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.highlight {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.comment,
.meta {
  color: #969896;
}

.string,
.variable,
.template-variable,
.strong,
.emphasis,
.quote {
  color: #df5000;
}

.keyword,
.selector-tag,
.type {
  color: #a71d5d;
}

.literal,
.symbol,
.bullet,
.attribute {
  color: #0086b3;
}

.section,
.name {
  color: #63a35c;
}

.tag {
  color: #333333;
}

.title,
.attr,
.selector-id,
.selector-class,
.selector-attr,
.selector-pseudo {
  color: #795da3;
}

.addition {
  color: #55a532;
  background-color: #eaffea;
}

.deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.link {
  text-decoration: underline;
}
