/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.comment,
.quote {
  color: #998;
  font-style: italic;
}

.keyword,
.selector-tag,
.subst {
  color: #333;
  font-weight: bold;
}

.number,
.literal,
.variable,
.template-variable,
.tag -attr {
  color: #008080;
}

.string,
.doctag {
  color: #d14;
}

.title,
.section,
.selector-id {
  color: #900;
  font-weight: bold;
}

.subst {
  font-weight: normal;
}

.type,
.class -title {
  color: #458;
  font-weight: bold;
}

.tag,
.name,
.attribute {
  color: #000080;
  font-weight: normal;
}

.regexp,
.link {
  color: #009926;
}

.symbol,
.bullet {
  color: #990073;
}

.built_in,
.builtin-name {
  color: #0086b3;
}

.meta {
  color: #999;
  font-weight: bold;
}

.deletion {
  background: #fdd;
}

.addition {
  background: #dfd;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
