/*
Description: Magula style for highligh.js
Author: Ruslan Keba <rukeba@gmail.com>
Website: http://rukeba.com/
Version: 1.0
Date: 2009-01-03
Music: Aphex Twin / Xtal
*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background-color: #f4f4f4;
}

,
.subst {
  color: black;
}

.string,
.title,
.symbol,
.bullet,
.attribute,
.addition,
.variable,
.template-tag,
.template-variable {
  color: #050;
}

.comment,
.quote {
  color: #777;
}

.number,
.regexp,
.literal,
.type,
.link {
  color: #800;
}

.deletion,
.meta {
  color: #00e;
}

.keyword,
.selector-tag,
.doctag,
.title,
.section,
.built_in,
.tag,
.name {
  font-weight: bold;
  color: navy;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
