/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822; color: #ddd;
}

.tag,
.keyword,
.selector-tag,
.literal,
.strong,
.name {
  color: #f92672;
}

.code {
  color: #66d9ef;
}

.class -title {
  color: white;
}

.attribute,
.symbol,
.regexp,
.link {
  color: #bf79db;
}

.string,
.bullet,
.subst,
.title,
.section,
.emphasis,
.type,
.built_in,
.builtin-name,
.selector-attr,
.selector-pseudo,
.addition,
.variable,
.template-tag,
.template-variable {
  color: #a6e22e;
}

.comment,
.quote,
.deletion,
.meta {
  color: #75715e;
}

.keyword,
.selector-tag,
.literal,
.doctag,
.title,
.section,
.type,
.selector-id {
  font-weight: bold;
}
