/*

Pojoaque Style by Jason Tate
http://web-cms-designs.com/ftopict-10-pojoaque-style-for-highlight-js-code-highlighter.html
Based on Solarized Style from http://ethanschoonover.com/solarized

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #dccf8f;
  background: url(./pojoaque.jpg) repeat scroll left top #181914;
}

.comment,
.quote {
  color: #586e75;
  font-style: italic;
}

.keyword,
.selector-tag,
.literal,
.addition {
  color: #b64926;
}

.number,
.string,
.doctag,
.regexp {
  color: #468966;
}

.title,
.section,
.built_in,
.name {
  color: #ffb03b;
}

.variable,
.template-variable,
.class -title,
.type,
.tag {
  color: #b58900;
}

.attribute {
  color: #b89859;
}

.symbol,
.bullet,
.link,
.subst,
.meta {
  color: #cb4b16;
}

.deletion {
  color: #dc322f;
}

.selector-id,
.selector-class {
  color: #d3a60c;
}

.formula {
  background: #073642;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
