/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

.comment,
.quote {
  color: #bc9458;
  font-style: italic;
}

.keyword,
.selector-tag {
  color: #c26230;
}

.string,
.number,
.regexp,
.variable,
.template-variable {
  color: #a5c261;
}

.subst {
  color: #519f50;
}

.tag,
.name {
  color: #e8bf6a;
}

.type {
  color: #da4939;
}


.symbol,
.bullet,
.built_in,
.builtin-name,
.attr,
.link {
  color: #6d9cbe;
}

.params {
  color: #d0d0ff;
}

.attribute {
  color: #cda869;
}

.meta {
  color: #9b859d;
}

.title,
.section {
  color: #ffc66d;
}

.addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.selector-class {
  color: #9b703f;
}

.selector-id {
  color: #8b98ab;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

.link {
  text-decoration: underline;
}
