/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.comment,
.quote {
  color: #999999;
}

/* Tomorrow Red */
.variable,
.template-variable,
.tag,
.name,
.selector-id,
.selector-class,
.regexp,
.deletion {
  color: #f2777a;
}

/* Tomorrow Orange */
.number,
.built_in,
.builtin-name,
.literal,
.type,
.params,
.meta,
.link {
  color: #f99157;
}

/* Tomorrow Yellow */
.attribute {
  color: #ffcc66;
}

/* Tomorrow Green */
.string,
.symbol,
.bullet,
.addition {
  color: #99cc99;
}

/* Tomorrow Blue */
.title,
.section {
  color: #6699cc;
}

/* Tomorrow Purple */
.keyword,
.selector-tag {
  color: #cc99cc;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
