/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1E1E1E;
  color: #DCDCDC;
}

.keyword,
.literal,
.symbol,
.name {
  color: #569CD6;
}
.link {
  color: #569CD6;
  text-decoration: underline;
}

.built_in,
.type {
  color: #4EC9B0;
}

.number,
.class {
  color: #B8D7A3;
}

.string,
.meta-string {
  color: #D69D85;
}

.regexp,
.template-tag {
  color: #9A5334;
}

.subst,
.function,
.title,
.params,
.formula {
  color: #DCDCDC;
}

.comment,
.quote {
  color: #57A64A;
  font-style: italic;
}

.doctag {
  color: #608B4E;
}

.meta,
.meta-keyword,
.tag {
  color: #9B9B9B;
}

.variable,
.template-variable {
  color: #BD63C5;
}

.attr,
.attribute,
.builtin-name {
  color: #9CDCFE;
}

.section {
  color: gold;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

/*-code {
  font-family:'Monospace';
}*/

.bullet,
.selector-tag,
.selector-id,
.selector-class,
.selector-attr,
.selector-pseudo {
  color: #D7BA7D;
}

.addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
