include ../mixins/fontawesome.pug

script(src=url_for('/scripts/cookieconsent.min.js'))
script.
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#000000",
        "text": "#cccccc"
      },
      "button": {
        "background": "#000000",
        "text": "#cccccc"
      }
    },
    "content": {
      "message": '#[+fa("exclamation-circle")] This website uses cookies in order to use third party services such as Twitter, Google Analytics, and Disqus.',
      "dismiss": '#[+fa("window-close")] Dismiss'
    }
  })});
