//- Generated with https://realfavicongenerator.net/
//- See halcyon/source/_favicon for more information.
-
  var favicon;
  if (typeof config.halcyon.favicon === 'undefined') {
    favicon = 'halcyon_favicon.png';
  }
  else {
    favicon = config.halcyon.favicon;
  }

link(rel="icon", type="image/png", href=url_for(favicon))
//- link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
//- link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
//- link(rel="icon", type="image/png", sizes="192x192", href="/android-chrome-192x192.png")
//- link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
//- link(rel="manifest", href="/manifest.json")
//- link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#666666")
//- meta(name="msapplication-TileColor", content="#000000")
//- meta(name="msapplication-TileImage", content="/mstile-144x144.png")
//- meta(name="theme-color", content="#cccccc")
