include ../mixins/fontawesome.pug

- 
  var copyrightStr
  var year = new Date().getFullYear()
  if (config.author!== undefined && config.halcyon.license !== undefined)
    {copyrightStr = '© ' + config.author + ' ' + year + ', ' + config.halcyon.license + ' license'}
  else if (config.author !== undefined)
    {copyrightStr = '© ' + config.author + ' ' + year}
  else if (config.halcyon.license !== undefined)
    {copyrightStr = config.halcyon.license + ' license'}
  else
    {copyrightStr = null}

footer
  hr
  if copyrightStr !== null
    p= copyrightStr
  p 
    | Built with 
    a(href='https://hexo.io') Hexo
    |  and 
    a(href='https://gitlab.com/krakob/hexo-theme-halcyon') Halcyon
  if config.halcyon.repository !== undefined
    +fa('code-branch', 'lg')
    | 
    a(href=url_for(config.halcyon.repository)) Visit site repository
