meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

include favicons.pug

link(rel='stylesheet' href=url_for('styles/style.css'))
link(rel='stylesheet' media='only screen and (max-width: 50em)' href=url_for('/styles/mobile.css'))
include cookies.pug
//- Mobile sheet included when wrapper is capped.
