mixin fa(glyph, modifiers, variant)
  - modifiers = typeof modifiers !== 'undefined' ? modifiers : ''
  - variant = typeof variant !== 'undefined' ? variant : theme.fa_variant
  if modifiers === ''
    i(class=variant + ' fa-' + glyph)
  else
    - modifiers = ' fa-' + modifiers.split(' ').join(' fa-')
    i(class=variant + ' fa-' + glyph + modifiers)

