include fontawesome.pug

mixin post_listing(post)
  .post_listing
    .post_listing_header
      h2.post_title: a(href=url_for(post.path)) #{post.title}
      if post.categories.length > 0
        - var cat = post.categories.data[0]  // We take no subcategories.
        p.category: a(href=url_for(cat.path))
          | #[+fa('folder-open')]
          |  #{cat.name}
      p.timestamp
        | #[+fa('pencil')]
        |  #{post.date.format(config.date_format)}
    p!= post.content.substring(0, theme.excerpt_length) + ' [...]'
    //- No 'read more' button here for now. May be re-implemented with
    //- an expand/collapse feature.
    //- hr
